.nav {
  backdrop-filter: blur(10px) !important;
  background-color: inherit !important;
}
.logoContainer {
  width: 50px;
  margin-right: 60px;
}
.logoContainer img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .dragMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.toggler {
  box-shadow: none !important;
  border: none;
  outline: none;
}

.navForm {
  width: 60%;
  position: relative;
}

.navForm input {
  width: 100%;
  border-radius: 8px !important;
  transition: 0.1s;
  padding-left: 40px;
}
.navForm input::placeholder {
  text-transform: capitalize;
  opacity: 0.7;
  font-size: 14px;
}
.navForm input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--light-green) !important;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
}

.authBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.authBtns .login,
.authBtns .register {
  padding: 0.5rem 1rem;
  color: var(--light-green);
  text-transform: capitalize;
  border-radius: 30px;
  transition: 0.3s;
}

.authBtns .login {
  border: 1px solid var(--light-green);
}
.authBtns .login:hover {
  border: 1px solid var(--light-green);
  background-color: var(--light-green);
  color: var(--text_white);
  box-shadow: 0 5px 15px rgba(59, 59, 59, 0.17);
}

.authBtns .register:hover {
  border: 1px solid var(--light-green);
  box-shadow: 0 5px 15px rgba(59, 59, 59, 0.17);
}

.userData {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.userName {
  text-transform: capitalize;
  font-size: 24px;
  max-width: 150px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.notification {
  padding: 6px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.notification .icon {
}

.userImage {
  width: 40px;
  border-radius: 10px;
  align-self: flex-end;
}
.userImage img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.logout {
  margin-left: auto;
  text-transform: capitalize;
  padding: 4px 6px;
  border: 1px solid var(--text_black);
  color: var(--text_black);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
